.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  backdrop-filter: blur(3px);
}

.popup-container {
  width: 75%;
  max-width: 900px;
  background: white;
  border-radius: 18px;
  padding: 20px;
  display: flex;
  gap: 20px;
  animation: zoomIn 0.25s ease;
}
